@charset "utf-8";
.container {
  width: 80%;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  width: px
}

.display {
    align-items: center; 
    border: 1px solid #ccc;
    padding: 10px;
    border: 1px solid #ccc;
}