<!DOCTYPE html>
<html lang="en">

<!-- ここのコメントはすべて漢 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css" type="text/css">
    <title>トップページ</title>
</head>


<body>
    <h1 class="title">RyuBoard</h1>
    <div class="space">
        <div class="cards">
            <div class="card">＜現行スレッド一覧＞</div>
            <form class="right" method="POST" action="#">
                <input class="text-input" type="text" name="thread_title" placeholder="現行スレ検索" required>
                <input type="submit" value="検索" class="button">
            </form>    
        </div>
        <div class="display">
            {% for thread in items %} 
            <td><a href="{{ url_for('show_thread', id=thread.id)}}">{{thread.title}}</a></td>
            <td>{{thread.name}}</td>s
            {% endfor %}
        </div>
    </div>
    

    <form class="frame" method="POST" action="{{ url_for('create_thread') }}"> 
        <div>＜スレ立て＞</div>
        <input class="txt" type="text" name="thread_title" placeholder="スレッドタイトル" >    
        <textarea name="content" rows="3" cols="50" wrap="hard" class="txt"></textarea>
        <div class="right"><input type="submit" value="投稿" class="button"></div>
    </form>

    
    <p class="right">
        <a href='#'>過去ログ検索へ</a>
    </p>
    

</html>