<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css" type="text/css">
    <title>トップページ</title>
</head>
<body>
    <h1 class="card">RyuBoard</h1>
    <div class="card">
    <div class="cards">
    <div class="card">現行スレッド一覧</div>
    <div class="card">現行スレ検索</div>
    </div>
    <div class="card">現行スレタイトル一覧</div>
    </div>
    
    <!-- <div class="container">
            <form method="POST">
                <label for="content">現行スレ検索</label><br>
                <input type="text" id="content" name="content" class="text-input"><br>
                <input type="submit" value="更新" class="button">
            </form>
        </div> -->
    
    <p style="text-align: right;">
        <a href='#'>過去ログ検索へ</a>
    </p>
    

</html>